beautifulsoup4==4.14.3
click==8.3.2
defusedxml==0.7.1
flatbuffers==25.12.19
lxml==6.0.3
magika==0.6.3
markdownify==1.2.2
markitdown==0.1.5
mpmath==1.3.0
onnxruntime==1.24.4
pillow==12.2.0
protobuf==7.34.1
python-dotenv==1.2.2
python-pptx==1.0.2
soupsieve==2.8.3
sympy==1.14.0
typing-extensions==4.15.0
xlsxwriter==3.2.9
